body {
	font-family: arial;
}

#circle {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	background: #58d68d;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 30px #ccc;
}

#circle span {
	-webkit-text-stroke: 0.0625rem rgba(0, 0, 0, 0.8);
}
