body {
	font-family: arial;
	display: flex;
	justify-content: center;
}

#circle {
	color: white;
	font-weight: bold;
	background: #58d68d;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 30px #ccc;
}
